@import "../../../Styles/Helpers/mixins";
@import "../../../Styles/Helpers/mixins";


.Complete-info-form {
  padding-top: 22%;
  padding-bottom: 22%;

  .ant-form-item:nth-child(4) {
    .ant-checkbox-wrapper {
    }
    .ant-checkbox-inner{

    }
  }

  .text-en-open-sans-14px-14px-14px-regular-regular-regular.ant-typography {
    color: #5D6B82 !important;
  }

  .Complete-info-title {
    margin: 0 22px 64px 22px;

    .ant-typography h3,
    div.ant-typography-h3,
    div.ant-typography-h3>textarea,
    h3.ant-typography {
      color: #42526D;
    }

    .title-en-nordeco-40px-32px-32px-semi-bold-semi-bold-semi-bold {
      text-align: start;
    }
  }

  .ant-input:nth-child(1) {
    padding: 7px 12px;
    height: 48px;
    border-radius: 8px;
    border-color: #C7E0FC;
  }

  .ant-input-affix-wrapper {
    padding: 0px 12px;

  }

  .ant-form-item:nth-child(3) {
    .ant-input-affix-wrapper {
      border-radius: 8px !important;
      border-color: #C7E0FC !important;
      height: 48px;

      input {
        height: auto;
        margin-left: -20px;
      }
    }
  }

  .Complete-info-button {
    width: 100% !important;
    padding: 8px !important;
    margin-top: 10%;
  }


}

.Complete-info-image {

  background: #165dad;

  .ant-image {
    width: 100% !important;
    height: 100vh;
  }
}

.Complete-info-mobile-title {
  display: none;
}

@include media-query(tablet-and-mobile) {


  .Complete-info-form {
    padding-top: 13%;

    .ant-input {
      padding: 8px 12px;
      height: 39px;
    }
  }

  .Complete-info-button {
    width: 100% !important;
    padding: 8px !important;
    margin-top: 90px !important;
  }


  .Complete-info-image {
    background: #165dad;

    .ant-image {
      height: 77vh
    }
  }

  .Complete-info-title {
    display: none;
  }

  .Complete-info-mobile-title {
    display: block;
    margin: 44px auto 36px !important;
    text-align: left;

    .ant-typography h3,
    div.ant-typography-h3,
    div.ant-typography-h3>textarea,
    h3.ant-typography {
      color: #42526D;
    }
  }
}