.book-flights-section{
margin-top: 32px;
  padding-top: 32px;
  min-height: 435px;
  padding-inline: 6%;
  background-color: #E4F0FE;



  .mobile-image{
    max-width: 80vw;
    position: absolute;
    top: -260px;
    left: 5%;
  }

  .book-flights-title{
    color: #196dfb !important;
    font-size: 40px !important;
    font-weight: 700;
    margin-bottom: 16px !important;
  }
}

@media screen and (max-width:996px)  {
  .book-flights-section{
    padding-inline: 4%;
.ant-space{
    flex-wrap: wrap;
  justify-content: center;}
  .mobile-image{
    max-width: 30vw;
    height: auto;
    margin: auto;
    display: block;
    position: unset;
    top: -250px;
    left: 0;
  }
  .book-flights-title{
  
    font-size: 20px !important;
    margin-bottom: 16px !important;
  }
}
}