.companies-section{
  background-color: #FFFFFF;
  text-align: center;
  margin-left: -8%;
  display: flex;
  margin-right: -8%;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-direction: column;
  gap: 16px;
.ant-typography{
  font-size: 36px;
}

  .log-div{
    // width: 200px;
    img{
      width:auto;
      height: 100px;
      margin: auto;

    }
  }

  .logos-list{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:996px)  {
  .companies-section{
    padding-inline: 32px;
    .ant-typography{
      font-size: 24px;
    }
    .logos-list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .log-div{
      // width: 200px;
      img{
        width:auto;
        height: 60px;
        margin: auto;
  
      }
    }
  }
}