.counter-input{
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  * {
    text-align: center;
  }
  .ant-space:first-child{
    flex-grow: 1;
  }

  .counter-input-label{
    color: #196dfb !important;
  }

  .anticon svg{
   color: #ff56a1;
  }
}