
.second-section-header-container {
  padding-top:40px;
  padding-bottom: 40px;
  background-color: #FFF;
  margin-left: -8%;
  margin-right: -8%;
text-align: right;

  .second-section-header {
    align-items: center;
    max-width: 1200px;
    padding-inline:42px;
    margin: auto;

    .second-section-text {
      text-align: right;
      width: 589px;
      white-space: break-spaces;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .ant-typography:not(.second-section-title) {
        line-height: 160% !important;
      }
    }
  }

  .ant-col:has(.second-section-header-image) {
    display: flex;

    .second-section-header-image {
      margin-right: auto;
    }
  }

  .second-section-title {
    line-height: 140% !important;
    font-size: 36px !important;
    margin-bottom: 0 !important;
  }
}


@media screen and (max-width: 1190px) and (min-width: 993px) {
  .second-section-title {
    font-size: 24px !important;
  }
  .second-section-header-image {
    width: 300px;
    object-fit: cover;
  }
  .second-section-text {
    width: 100% !important;

    .ant-typography:not(.second-section-title) {
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 993px) {
  .second-section-header-container {
    padding: 24px 10%;
    //margin-left: -12.5%;
    //width: 100vw;

    .second-section-header {
      justify-content: center;

      .second-section-text {
        text-align: center;
        white-space: unset;
        width: 100%;
      }
      .second-section-title {
        font-size: 20px !important;
      }
      .ant-col:has(.second-section-header-image) {
        display: flex;

        .second-section-header-image {
          margin: auto;
          width: 60vw;
          height: auto;
        }
      }
    }
  }

}
